/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
COLOR SYSTEM (hex)
MAIN COLOR: #5A7FA8
GREY COLOR: #CCD2DF
LIGHT TEXT COLOR: #D6E1FA
LIGHTER TINT: #ABD3FC
#83B2D6
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* POPUP CONTENT*/
/* ------------------------ */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 200ms ease-in-out opacity;
  z-index: 1;
}

.popup-content {
  color: #000;
  width: 40vw;
  background-color: #d8eaffe1;
  padding: 4rem;
  padding-top: 5rem;
  box-shadow: 10px 10px .5em rgba(0, 0, 0, 0.5);
  border-radius: .5em;
  opacity: 0;
  transform: translateY(20%);
  transition: 200ms ease-in-out opacity,
    200ms ease-in-out transform;
  position: relative;
  text-align: center;
}

.popup h1 {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.popup h1:active {
  transform: scale(.9);
}

.showPopup {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
img {
  width: 100%;
}

body {
  font-family: 'Noto Serif', serif;
  color: #fff;
  background-color: #000;
  /* border-bottom: 16px solid #000; */
}

p {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.7;
}

/* section {
  padding: 0 24px;
} */
h1 {
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -0.5px;
  font-weight: 700;
}

h2 {
  margin-bottom: 24px;
  font-size: 36px;
  letter-spacing: 0.02px;
  line-height: 1.1;
  font-weight: 700;
}

h3 {
  margin-bottom: 14px;
  font-size: 30px;
  font-weight: 700;
}

footer {
  /* display: flex; */
  color: #b7b8b8;
  align-items: flex-end;
  text-align: center;
  justify-content: center;
  background-color: #0d1b2a;
  width: 100%;
}

footer p {
  line-height: 1.5;
}

/* ------------------------ */
/* BACKGROUND IMAGE*/
/* ------------------------ */
.background {
  position: relative;
  overflow: hidden;
}

.background::before {
  opacity: 0.35;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-image: url("images/brick.jpg");
  background-size: cover;
  background-position: top center;
  width: 100%;
}

/* ------------------------ */
/* BACKGROUND CONTAINER*/
/* ------------------------ */
.container {
  width: 78%;
  height: auto;
  padding: 16px 24px 0px 24px;
  margin: 0 auto;
  background-color: #b7b8b8;
  position: relative;
  overflow: hidden;
}

.container::before {
  opacity: 0.9;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-image: url("images/wood1.jpg");
  background-position: top center;
  width: 100%;
}

/* ------------------------ */
/* WRAPPER CONTENT*/
/* ------------------------ */
.wrapper {
  position: relative;
}

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* HEADER / NAVIGATION */
.header--upper {
  display: flex;
  background-color: #0d1b2a;
  justify-content: space-between;
  gap: 1.5%;
  padding: 24px;
  align-items: center;
}

/* TITLE INFORMATION */
.title--wrapper {
  width: 100%;
}

.title {
  font-size: 52px;
  align-self: center;
  margin-top: 23px;
}

.title--wrapper .img {
  float: left;
  /* display: inline-block; */
  width: 120px;
  margin: -14px -13px 0 0;
}

/* .title::first-letter {
  letter-spacing: 0px;
} */
/* <A> TAG NAV BUTTONS */
.nav--wrapper {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 3%;
  width: 100%;
  height: auto;
}

.navbtn--home {
  grid-column: 1;
}

.navbtn--menu {
  grid-column: 2;
  /* justify-self: center */
}

.navbtn--reviews {
  grid-column: 3;
}

.navbtn--about {
  grid-column: 4;
}

.navbtn--contact {
  grid-row: 1/2;
  grid-column: 5;
}

.navbtns:link,
:visited {
  display: inline-block;
  text-transform: uppercase;
  align-self: center;
  text-decoration: none;
  color: #0d1b2a;
  background-color: #b7b8b8;
  padding: 16px 8px;
  width: auto;
  text-align: center;
  box-shadow: 5px 5px 24px 0 rgba(0, 0, 0, 1);
  font-size: 16px;
  font-weight: 700;
}

.navbtns:hover {
  background-color: #6b6d77;
  box-shadow: none;
}

/* ICON ON MENU BUTTON */
.icon {
  width: 22px;
  padding-left: 5px;
  stroke-width: 2.5px;
  stroke: #0d1b2a;
}

/* DROPDOWN FOR MENU BUTTON */
.dropdownmenu {
  display: block;
  box-shadow: 5px 5px 24px 0 rgba(0, 0, 0, 1);
  min-width: fit-content;
  max-height: 51.2px;
  overflow: hidden;
}

.dropdownmenu:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: -4px;
  background-color: #a1a1a1;
  min-width: 160px;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #0d1b2a;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: 700;
}

.dropdown-content a:hover {
  background-color: #8f939b;
}

.navbtn--menu:link,
:visited {
  height: auto;
  max-height: 55px;
}

.external-link-icon {
  margin-left: 5px;
  width: 20px;
  height: auto;
}

/* ------------------------ */
/* FIRST CONTENT SECTIONS STARTS HERE*/
/* ------------------------ */
.el--half {
  display: flex;
  justify-content: space-between;
  margin: 2%;
  margin-top: 64px;
  /* margin-bottom: 96px; */
  align-items: center;
}

.header-text-box {
  line-height: 1.5;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  padding: 20px;
  background-color: #b7b8b8;
  color: #0d1b2a;

  /* height: 50%; */
}

.grey--background {
  background-color: #0d1b2a;
  color: #fff;
}

.img--lobby {
  grid-column: 2/3;
  width: 45%;
  min-height: 100%;
  height: auto;
  box-shadow: 0px 0px 32px 0 rgba(0, 0, 0, 1);
}


/* ------------------------ */
/* ABOUT PAGE STYLES START HERE*/
/* ------------------------ */
.features--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 64px;
  row-gap: 80px;
  margin-top: 48px;
  /* align-items: center;
  justify-content: center; */
}

.section--title {
  margin-bottom: 12px;
  text-align: center;
  color: #0d1b2a;
  font-size: 44px;

}

.borderline {
  height: 2px;
  width: 90%;
  margin: 0 auto;
  background-color: #0d1b2a;
  margin-bottom: 12px;
}

.section--features {
  background-color: #b7b8b880;
  padding: 32px 0;
  margin: 40px auto;
  margin-top: 64px;
  width: 95%;

}

.features--box {
  background-color: #0d1b2a;
  padding: 24px;
  color: #fff;
  width: 90%;
  justify-self: center;
}

.img--features {
  padding: 0px;
  margin-bottom: 12px;
}

.features--title {
  font-size: 32px;
  font-weight: 700;
}

.features--text {
  line-height: 1.5;
}

.footer {
  margin-top: 48px;
  font-size: 8px;
}

/* ------------------------ */
/* REVIEWS PAGE STYLES*/
/* ------------------------ */
.reviews-box {
  background-color: #0d1b2a;
  padding: 20px;
  width: 65%;
  justify-self: self-end;
  height: 230px;
  width: 600px;
  justify-content: center;
  display: table;

}

.reviews-text {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.content-wrapper {
  margin-top: 64px;
}

/* TESTIMONIAL */

.testimonial-grid {
  display: grid;
  grid-template-columns: 3fr 5fr 5fr;
  column-gap: 32px;
  /* height: 364; */
  /* align-items: center;
  justify-content: center; */
}

.testimonial-section {
  display: grid;
  width: 80%;
  height: 364px;
  background-color: #b7b8b8;
  color: #1b263b;
  padding: 32px;
  box-shadow: 5px 5px 32px 0 rgba(0, 0, 0, 1);
  /* border-radius: 45px; */
  margin: 0 auto 64px auto;
}

.testimonial-box {
  display: grid;
  grid-column: 2 / -1;
  align-self: center;
  height: 300px;
}

.testimonial-box h2 {
  justify-self: self-start;
  font-size: 24px;
  margin-bottom: 8px;
  line-height: 1.5;
}

.testimonial-box .borderline {
  height: 3px;
  width: 95%;
  margin: 0 auto;
  background-color: #8f939b;
}

.img--author {
  grid-column: 1/2;

  box-shadow: 0px 0px 12px 0 rgba(0, 0, 0, 0.5);
  /* width: 100%; */
  width: 100%;
  max-height: 300px;
  align-self: center;
  justify-self: center;
}

.testimonial-text {
  font-style: italic;
  /* margin-bottom: 24px; */
  font-size: 20px;
  line-height: 1.5;
  color: #253450;
  overflow: scroll;
  overflow-x: hidden;
  padding: 4px;
  margin: 12px 0px;
}

.testimonial-text::-webkit-scrollbar {
  width: 12px;
}

.testimonial-text::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.testimonial-text::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.testimonial-author {
  font-size: 16px;
  font-weight: 700;
  color: #32425f;
  font-style: normal;
  align-self: flex-end;
  padding: 8px 0px 0px 12px;
  /* text-align: center; */
}

/* ------------------------ */
/* CONTACT PAGE STYLES*/
/* ------------------------ */

.contact--section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  margin: 3% auto;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

.hours--block {
  justify-self: center;
  text-align: center;
  background-color: #0d1b2a;
  padding: 3%;
  width: 90%;
}

.contact {
  width: 80%;
  background-color: rgb(196, 196, 196);
}

.hours--list {
  list-style: none;
  font-size: 22px;
  line-height: 2;
}

.img--roll {
  justify-self: center;
  width: 65%;
  box-shadow: 0px 0px 32px 0 rgba(0, 0, 0, 1);
}

.phone--facebook {
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  background-color: #0d1b2a;
  width: 200px;
  padding: 20px 30px;
  text-align: center;
  margin: 24px 20% 48px 65%;
  text-decoration: none;
  column-gap: 24px;
  align-items: center;
  justify-content: center;
  /* height: 90px; */
}

.facebook--icon {
  width: 60px
    /* height: 100%; */
}

.phone--icon {
  width: 55px
    /* max-height: 70%; */
}

.phone--link {
  display: inline-block;
  max-height: 55px;
}

.facebook--link {
  display: inline-block;
  max-height: 58px;
}


.map-responsive {
  text-align: center;
  padding: 2%;
  background-color: #0d1b2a;
  /* position:relative;         */
  /* height:0;         */
  /* overflow:hidden;      */
  margin: 0 auto;
  /* height: 0%;  */
  width: 80%;
}

.map-responsive iframe {

  Width: 100%;
  /* height:100%;     */
  /* position:absolute; */
  margin: 0 auto;
}

/* ------------------------ */
/* MEDIA SCREEN SIZE FOR TABLETS STARTS HERE*/
/* ------------------------ */
@media only screen and (max-width: 1380px) {

  /* ------------------------ */
  /* POPUP CONTENT*/
  /* ------------------------ */
  .popup-content {
    padding: 2rem;
  }

  .popup h1 {
    font-size: 32px;
  }

  /* ------------------------ */
  /* GENERAL STYLES*/
  /* ------------------------ */
  h2 {
    font-size: 28px;
    margin-bottom: 5%;
  }

  h3 {
    font-size: 22px;
  }

  p {
    font-size: 22px;
  }

  /* ------------------------ */
  /* BACKGROUND CONTAINER*/
  /* ------------------------ */
  .container {
    width: 100%;
  }


  /* ------------------------ */
  /* HEADER DETAILS*/
  /* ------------------------ */
  .header--upper {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
  }

  /* TITLE INFORMATION */
  .title {
    font-size: 40px;
    text-align: center;
  }

  .title--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title--wrapper .img {
    /* display: inline-block; */
    width: 120px;
    margin: -9px -13px 0 0;
  }

  /* .title::first-letter{
    letter-spacing: 2px;
  } */
  /* NAV BUTTONS */
  .nav--wrapper {
    width: 100%;
  }

  .navbtns:link,
  :visited {
    font-size: 15px;
    padding: 12px 6px;
    display: inline-block;
    width: auto;

  }

  /* DROPDOWN MENU BUTTON */
  .dropdownmenu {
    margin-bottom: 0px;
    height: 44px;
  }

  .icon {
    width: 16px;
    padding-left: 0px;
  }

  .dropdown-content {
    font-size: 12px;
    margin-top: 0;
  }

  .external-link-icon {
    width: 20px;
    padding-right: 5px;
  }

  .dropdown-content a {
    float: none;
    color: #0d1b2a;
    padding: 8px 4px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: 700;
  }

  /* ------------------------ */
  /* FIRST CONTENT SECTIONS STARTS HERE*/
  /* ------------------------ */
  .el--half {
    margin: 20px;
    margin-top: 64px;
    width: 95%;
    justify-content: center;
    align-items: center;
  }

  .header-text-box {
    width: 55%;
    height: auto;
    min-height: 275px;
    padding: 15px;
  }

  .img--lobby {
    height: auto;
    width: 45%;

  }

  .footer {
    margin-top: 48px;
    font-size: 8px;
  }

  /* ------------------------ */
  /* SECOND CONTENT SECTIONS STARTS HERE*/
  /* ------------------------ */
  .features--grid {
    column-gap: 3%;
  }

  .section--title {
    font-size: 28px;

  }

  .section--features {
    width: 90%;
  }

  .features--box {
    padding: 5%;
  }

  .features--text {
    font-size: 14px
  }

  /* ------------------------ */
  /* REVIEWS PAGE STYLES*/
  /* ------------------------ */
  .reviews-box {
    justify-self: center;
    height: 200px;
    width: 400px;


  }

  .testimonial-grid {
    column-gap: 2%;
    justify-content: center;

  }

  .testimonial-section {
    width: 90%;
    padding: 20px;
    height: 100%;
    padding: 24px;
    box-shadow: 5px 5px 32px 0 rgba(0, 0, 0, 1);
    /* border-radius: 45px; */
    margin: 0 auto 32px auto;

  }

  .testimonial-box {
    height: 300px;

  }

  .testimonial-box h2 {
    font-size: 24px;
    margin-bottom: 0;


  }

  .testimonial-box .borderline {
    margin-top: 8px;
  }

  .img--author {
    height: auto;
    width: 100%;
    max-width: 270px;
  }

  .testimonial-text {
    font-size: 18px;
    margin: 0;
    height: 150px;
    /* line-height: 40px; */

  }

  .testimonial-text::-webkit-scrollbar {
    width: 5px
  }

  .testimonial-author {
    font-size: 16px;
  }

  /* ------------------------ */
  /* CONTACT PAGE STYLES*/
  /* ------------------------ */
  .contact--section {
    margin: 0 auto;
    margin-top: 64px;
    /* max-height: 300px; */
    /* max-height: 680px; */
  }

  .hours--block {
    /* margin: 4% 0; */
    align-self: flex-start;
    /* justify-self:end; */
  }

  .hours--block h3 {
    font-size: 26px;
  }

  .hours--list {
    font-size: 18px;
  }

  .img--roll {
    max-width: 370px;
    min-width: 300px;
    /* max-height: 85%; */
    /* width: 85%; */
  }
}





/* ------------------------ */
/* MEDIA SCREEN SIZE FOR SMARTPHONES STARTS HERE*/
/* ------------------------ */
@media only screen and (max-width: 750px) {

  /* ------------------------ */
  /* POPUP CONTENT*/
  /* ------------------------ */
  .popup-content {
    width: 90vw;
    padding: 1.5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .popup h1 {
    top: .8rem;
    right: 1rem;
  }

  .popup h2 {
    padding-bottom: 1rem;
    font-size: 32px;
  }

  .popup p {
    font-size: 20px;
  }

  /* ------------------------ */
  /* GENERAL STYLES*/
  /* ------------------------ */
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 2%;
  }

  p {
    font-size: 14px;
  }

  /* ------------------------ */
  /* BACKGROUND CONTAINER*/
  /* ------------------------ */
  .container {
    padding: 8px 12px 0px 12px;
  }

  .background {
    background-image: none;
  }

  .wrapper {
    margin: 0 auto;
  }

  /* ------------------------ */
  /* HEADER DETAILS*/
  /* ------------------------ */
  .header--upper {
    flex-wrap: wrap;
    padding: 8px;
    padding-top: 0;
    width: 100%;
    margin: 0 auto;
  }

  /* TITLE INFORMATION */
  .title--wrapper {
    width: 100%
  }

  .title--wrapper .img {
    width: 60px;
    margin: -3px -7px 0 0;
  }

  .title {
    font-size: 20px;
    margin-bottom: 10px;
  }


  /* NAV BUTTONS */
  .nav--wrapper {
    display: flex;
    flex-wrap: wrap;
    grid-template-rows: 1fr, 1fr;
    grid-template-columns: 1fr, 1fr, 1fr;
    justify-content: center;
    align-content: space-between;
    justify-content: center;
    row-gap: 10%;
    column-gap: 2%;
  }

  .navbtns:link,
  :visited {
    font-size: 12px;
    padding: 10px 5px;
    height: 100%;
    width: auto;
    margin-bottom: 4%;
  }

  /* DROPDOWN MENU BUTTON */
  .dropdownmenu {
    height: fit-content;
  }

  .icon {
    width: 10px;
  }

  .navbtn--menu {
    min-height: 15.2px;
    max-height: 32px;
    min-width: 63.95px;
  }

  .dropdown-content {
    min-width: auto;
  }

  .external-link-icon {
    width: 15px;
    padding-right: 5px;
  }

  .dropdown-content a {
    float: none;
    color: #0d1b2a;
    padding: 8px 4px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: 700;
    font-size: 12px;
  }

  /* ------------------------ */
  /* FIRST CONTENT SECTIONS STARTS HERE*/
  /* ------------------------ */
  .el--half--one,
  .el--half--three {
    flex-direction: column-reverse;
  }

  .el--half {
    margin: 48px auto 45px auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px
  }

  .header-text-box {
    width: 100%;
    height: auto;
    padding: 15px;
    min-height: auto;
  }

  .img--lobby {
    height: auto;
    width: 90%;
  }

  .footer {
    margin-top: 48px;
    font-size: 6px;
  }

  /* ------------------------ */
  /* ABOUT PAGE STYLES START HERE*/
  /* ------------------------ */
  .section--features {
    margin: 20px auto;
    padding: 12px;
    margin-top: 48px;
  }

  .features--grid {
    margin-top: 16px;
    row-gap: 50px;
    grid-template-columns: 1fr;
  }

  .section--features {
    width: 100%;
  }

  .features--box {
    width: 100%;
    padding: 3%;
  }

  .img--features {
    width: 100%;
    padding: 3%;

  }

  /* .features--text{
    font-size:10px
  } */
  /* ------------------------ */
  /* REVIEWS PAGE STYLES*/
  /* ------------------------ */
  .reviews-grid {
    display: flex;
    align-items: center;
    /* gap: 12px; */
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }

  .reviews-box {
    padding: 20px;
    justify-self: center;
    height: 100px;
    width: auto;
    margin-bottom: 24px;
  }

  .reviews-text {
    line-height: 1.7;

  }

  .content-wrapper {
    margin-top: 24px;
  }

  .testimonial-grid {
    column-gap: 2%;
    justify-content: center;
  }

  .testimonial-section {
    width: 100%;
    padding: 5px;
    height: 100%;

  }

  .testimonial-box {
    padding: 10px;
    height: 100%;

  }

  .testimonial-box h2 {
    font-size: 14px;
    margin-bottom: 0;
    height: auto;

  }

  .testimonial-box .borderline {
    margin-top: 8px;
  }

  .img--author {
    height: auto;
    width: 100%;
  }

  .testimonial-text {
    height: 150px;
    font-size: 12px;
    margin: 0;
    height: 100px;

  }

  .testimonial-text::-webkit-scrollbar {
    width: 5px
  }

  .testimonial-author {
    font-size: 8px;
  }

  /* ------------------------ */
  /* CONTACT PAGE STYLES*/
  /* ------------------------ */
  .contact--section {
    grid-template-columns: 1fr;
    margin-top: 36px;
    /* max-height: fit-content; */
  }

  .hours--block {
    margin-top: 0;
    grid-row: 2/ 3;
  }

  .hours--list {
    line-height: 1.7;
  }

  .img--roll {
    min-width: 80%;
    height: 90%;
  }

  .hours--list {
    font-size: 16px;
  }

  .map-responsive {
    /* text-align: center; */
    /* padding: 2%; */
    /* background-color: #0d1b2a;        */
    /* position:relative;         */
    /* height:0;         */
    /* overflow:hidden;      */
    /* margin: 0 auto; */
    /* height: 0%;  */
    width: 100%;
    /* margin-bottom: 48px; */
  }

  .phone--facebook {
    margin: 24px auto 48px auto;
  }

}